#product-overview {
    background: url("../images/freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
}